type nvdata_file, file_type, data_file_type;

type ccci_cfg_file, file_type, data_file_type;
type mdlog_data_file, file_type, data_file_type;
type thermal_manager_data_file, file_type, data_file_type;

type sysfs_gps_file, fs_type, sysfs_type;
type sysfs_ccci, fs_type, sysfs_type;
type sysfs_devinfo, fs_type, sysfs_type;

type msensord_daemon_sysfs, fs_type, sysfs_type;

type display_color_sysfs, fs_type, sysfs_type;
type sysfs_gyro_orientation, fs_type, sysfs_type;
type fast_charge_sysfs, fs_type, sysfs_type;
type smartwake_sysfs, fs_type, sysfs_type;
type perf_control_sysfs, fs_type, sysfs_type;

type proc_mtkcooler, fs_type;
type proc_mtktz, fs_type;
type proc_thermal, fs_type;
type proc_wmt, fs_type;

type sysfs_accel_calibration, fs_type, sysfs_type;
type sysfs_accel_accdata, fs_type, sysfs_type;
type sysfs_accel_sensordata, fs_type, sysfs_type;