allow platform_app init:unix_dgram_socket write;
allow platform_app init_tmpfs:file read;
allow platform_app fm_device:chr_file { read write ioctl open };
allow platform_app ebc_device:chr_file {read write open };
allow platform_app wcn_combo_chip_prop:file {read open getattr};
